@import "fonts/clear-sans.css";
* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  background: #faf8ef;
  color: #776E65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}

body {
  margin: 0 10vw;
}

button {
  border: 0;
  background-color: transparent;
  outline: none;
  font: inherit;
  color: inherit;
}

.curtain {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #faf8ef;
}

.zoom_buttons_container {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
}
.zoom_buttons_container button {
  display: block;
  cursor: pointer;
  font-size: 24px;
  margin: 6px;
}
.zoom_buttons_container button[disabled=disabled] {
  color: #c0bbb5;
}

.container {
  display: block;
  position: relative;
  margin: 12vh auto;
}

.heading h1.title {
  display: block;
  float: left;
  margin: 0;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1em;
}
.heading .button_grid {
  display: grid;
  justify-content: end;
  grid-template-columns: 8.8em 2em;
  grid-template-rows: repeat(4, 2em);
  grid-gap: 0.5em 0.15em;
  font-size: 0.8em;
}
.heading .button_grid button {
  cursor: pointer;
  background: #8f7a66;
  color: #f9f6f2;
  font-weight: bold;
  border-radius: 0.2em;
}
.heading .button_grid button[disabled=disabled] {
  background: #d0c7be;
}
.heading .button_grid .main_button {
  grid-column-start: span 2;
}
.heading .button_grid .left_button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.heading .button_grid .right_button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.score_container {
  display: block;
  position: relative;
  float: right;
  font-weight: bold;
  text-align: right;
  background: #bbada0;
  color: #f9f6f2;
  padding: 0.3em 0.4em;
  font-size: 1.2em;
  border-radius: 0.15em;
  margin: 1.2em 0;
}
.score_container:before {
  content: "Score";
  display: block;
  position: relative;
  text-transform: uppercase;
  color: #eee4da;
  margin-bottom: 0.3em;
  font-size: 0.5em;
  line-height: 1em;
}
.score_container .score_value {
  display: block;
  position: relative;
  font-family: Consolas, Monospace;
  line-height: 1em;
}
.score_container .score_value .score_addition {
  position: absolute;
  display: inline;
  right: 0;
  bottom: 0;
  line-height: inherit;
  font-weight: bold;
  color: rgba(119, 110, 101, 0.9);
  -webkit-animation: move_up 600ms ease-in;
  -moz-animation: move_up 600ms ease-in;
  animation: move_up 600ms ease-in;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes move_up {
  0% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: 2em;
    opacity: 0;
  }
}

.game_container {
  display: block;
  position: relative;
  clear: both;
  z-index: 1;
  margin: 0 auto;
}
.game_container .game_message {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 8;
  border-radius: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(238, 228, 218, 0.73);
  font-weight: bold;
  font-size: 60%;
  -webkit-animation: fade_in 800ms ease 1200ms;
  -moz-animation: fade_in 800ms ease 1200ms;
  animation: fade_in 800ms ease 1200ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.game_container .game_message.game_over_message {
  display: flex;
}
.game_container .grid_container {
  display: inline-block;
  position: absolute;
  z-index: 2;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: #bbada0;
}
.game_container .grid_container .grid_cell {
  display: inline-block;
  position: absolute;
  z-index: 3;
  background: rgba(238, 228, 218, 0.35);
  width: 1em;
  height: 1em;
  border-radius: 0.08em;
}
.game_container .tile_container {
  display: inline-block;
  position: absolute;
  z-index: 4;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.game_container .tile_container .tile {
  display: inline-block;
  position: absolute;
  z-index: 5;
  width: 1em;
  height: 1em;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}
.game_container .tile_container .tile .tile_inner {
  display: flex;
  z-index: 6;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 1em;
  height: 1em;
  border-radius: 0.08em;
}
.game_container .tile_container .tile.tile_val_1 .tile_inner {
  background: #eee4da;
}
.game_container .tile_container .tile.tile_val_2 .tile_inner {
  background: #ede0c8;
}
.game_container .tile_container .tile.tile_val_3 .tile_inner {
  color: #f9f6f2;
  background: #f2b179;
}
.game_container .tile_container .tile.tile_val_4 .tile_inner {
  color: #f9f6f2;
  background: #f59563;
}
.game_container .tile_container .tile.tile_val_5 .tile_inner {
  color: #f9f6f2;
  background: #f67c5f;
}
.game_container .tile_container .tile.tile_val_6 .tile_inner {
  color: #f9f6f2;
  background: #f65e3b;
}
.game_container .tile_container .tile.tile_val_7 .tile_inner {
  color: #f9f6f2;
  background: #edcf72;
  box-shadow: 0 0 0.28em 0.1em rgba(243, 215, 116, 0.2380952381), inset 0 0 0 0.01em rgba(255, 255, 255, 0.1428571429);
}
.game_container .tile_container .tile.tile_val_8 .tile_inner {
  color: #f9f6f2;
  background: #edcc61;
  box-shadow: 0 0 0.28em 0.1em rgba(243, 215, 116, 0.3174603175), inset 0 0 0 0.01em rgba(255, 255, 255, 0.1904761905);
}
.game_container .tile_container .tile.tile_val_9 .tile_inner {
  color: #f9f6f2;
  background: #edc850;
  box-shadow: 0 0 0.28em 0.1em rgba(243, 215, 116, 0.3968253968), inset 0 0 0 0.01em rgba(255, 255, 255, 0.2380952381);
}
.game_container .tile_container .tile.tile_val_10 .tile_inner {
  color: #f9f6f2;
  background: #edc53f;
  box-shadow: 0 0 0.28em 0.1em rgba(243, 215, 116, 0.4761904762), inset 0 0 0 0.01em rgba(255, 255, 255, 0.2857142857);
}
.game_container .tile_container .tile.tile_val_11 .tile_inner {
  color: #f9f6f2;
  background: #edc22e;
  box-shadow: 0 0 0.28em 0.1em rgba(243, 215, 116, 0.5555555556), inset 0 0 0 0.01em rgba(255, 255, 255, 0.3333333333);
}
.game_container .tile_container .tile.tile_val_12 .tile_inner {
  color: #f9f6f2;
  background: #ebb914;
  box-shadow: 0 0 0.28em 0.1em rgba(243, 215, 116, 0.6349206349), inset 0 0 0 0.01em rgba(255, 255, 255, 0.3333333333);
}
.game_container .tile_container .tile.tile_val_13 .tile_inner {
  color: #f9f6f2;
  background: #d3a612;
  box-shadow: 0 0 0.28em 0.1em rgba(243, 215, 116, 0.7142857143), inset 0 0 0 0.01em rgba(255, 255, 255, 0.3333333333);
}
.game_container .tile_container .tile.tile_val_14 .tile_inner {
  color: #f9f6f2;
  background: #bc9410;
  box-shadow: 0 0 0.28em 0.1em rgba(243, 215, 116, 0.7936507937), inset 0 0 0 0.01em rgba(255, 255, 255, 0.3333333333);
}
.game_container .tile_container .tile.tile_text_length_1 .tile_text {
  font-size: 0.55em;
}
.game_container .tile_container .tile.tile_text_length_2 .tile_text {
  font-size: 0.55em;
}
.game_container .tile_container .tile.tile_text_length_3 .tile_text {
  font-size: 0.4666666667em;
}
.game_container .tile_container .tile.tile_text_length_4 .tile_text {
  font-size: 0.35em;
}
.game_container .tile_container .tile.tile_text_length_5 .tile_text {
  font-size: 0.28em;
}
.game_container .tile_container .tile.tile_text_length_6 .tile_text {
  font-size: 0.2333333333em;
}
.game_container .tile_container .tile.tile_text_length_7 .tile_text {
  font-size: 0.2em;
}
.game_container .tile_container .tile.tile_text_length_8 .tile_text {
  font-size: 0.175em;
}
.game_container .tile_container .tile.tile_text_length_9 .tile_text {
  font-size: 0.1555555556em;
}
.game_container .tile_container .tile_new .tile_inner {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.game_container .tile_container .tile_merged .tile_inner {
  z-index: 7;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.footnotes {
  margin-top: 2em;
}
.footnotes p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65;
}
.footnotes a {
  color: #776E65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.footnotes strong.important {
  text-transform: uppercase;
}
.footnotes hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
